<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小屋</title>
    <script type="text/javascript" src="../js/person.js"></script>
    <link rel="stylesheet" href="../css/usally.css" type="text/css" />
    <link rel="stylesheet" href="../css/person.css" type="text/css" />
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="window">
        <div class="nav">
            <div class="nav-left">
                <ul class="nav-ul">
                    <li><a href="../index.html">首页</a></li>
                    <li><a href="main.html">冲浪</a></li>
                    <li><a href="person.html" class="view">个人空间</a></li>
                </ul>
            </div>
            <div class="nav-center">
                <div class="nav-search">
                    <form>
                        <input type="text" class="nav-search-input" placeholder="查找自己感兴趣的">
                        <button type="button" class="fa fa-search"></button>
                    </form>
                </div>
            </div>
            <div class="nav-right">
                <ul class="nav-ul">
                    <li><a href="login.html">登 录</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="col-left-avatar box">
                    <img src="../images/iceland.jpg" class="col-left-avatar-bg">
                    <img src="../images/t2.png " class="col-left-avatar-dhg">
                    <div>
                        <div class="text">
                            <p class="col-left-avatar-name">狗蛋</p>
                            <p class="col-left-avatar-motto">
                                Hello World
                            </p>
                        </div>
                        <div class="span-box">
                            <span class="span1">
                          <p>粉丝数</p>
                          <h3>12k</h3>
                          
                        </span>
                            <span class="span2">
                            <p>关注数</p>
                            <a href="main.html"><h3>3</h3></a>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-left-about box ">
                    <div class="col-left-about-title">
                        <div class="fa fa-bookmark"></div> <b>About</b> ·<a href="#">Edit</a></div>
                    <ul class="col-left-about-list">
                        <li>
                            <li class="fa fa-calendar"></li> 去过<a href="#">Oh,Canada</a></li>
                        <li>
                            <li class="fa fa-users"></li> 朋友<a href="#">Why</a></li>
                        <li>
                            <li class="fa fa-github"></li> 站点<a href="#">Github</a></li>
                        <li>
                            <li class="fa fa-home"></li> 住处<a href="#">ZheJiang, CN</a></li>
                        <li>
                            <li class="fa fa-map-marker"></li> 来自<a href="#">BeiJin, CN</a></li>
                    </ul>
                </div>
                <div class="col-left-photos box ">
                    <div class="col-left-photos-title">
                        <div class="fa fa-image"></div> <b>Photo</b> ·<a href="#">Edit</a></div>
                    <ul class="col-left-photos-list">
                        <li><img src="../images/instagram_1.jpg" alt="photo"></li>
                        <li><img src="../images/instagram_2.jpg" alt="photo"></li>
                        <li><img src="../images/instagram_3.jpg" alt="photo"></li>
                        <li><img src="../images/instagram_5.jpg" alt="photo"></li>
                        <li><img src="../images/instagram_6.jpg" alt="photo"></li>
                        <li><img src="../images/instagram_9.jpg" alt="photo"></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="col-center-send box">
                    <div class="col-center-send-sonbox">
                        <input type="text" id="commentInput" placeholder="Message">
                        <button class="col-center-send" type="button" id="commentSubmit"><div class="fa fa-send"></div></button>
                    </div>
                </div>
                <div class="commentList" id="commentList">
                    <div class="col-center-comment2 box">
                        <img class="col-center-comment2-avatar" src="../images/t2.png" alt="avatar">
                        <div class="col-center-comment2-context">
                            <div>
                                狗蛋
                                <span class="col-center-comment2-span">2020-12-25 15:10</span>
                            </div>
                            <div class="col-center-comment2-article">
                                <p> 埃尼安·拉西尼亚·比本杜姆·努拉·塞德·塞斯特图尔。猫门前庭。莫比·利奥·里修斯，圣座门，爱神的前庭。奥迪奥迪奥公馆（Cras justo odio），dapibus ac facilisis in，egestas eget quam。猫门舌前庭。自然的社会是痛苦的和巨大的。</p>
                                <img width="273" height="182" src="../images/unsplash_1.jpg" alt="photo" style="margin-right: 5px;">
                                <img width="182" height="182" src="../images/instagram_1.jpg" alt="photo" style="margin-top: 10px;">
                                <img width="182" height="182" src="../images/instagram_13.jpg" alt="photo" style="margin-right: 5px;">
                                <img width="274" height="182" src="../images/unsplash_2.jpg" alt="photo" style="margin-top: 5px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-center-comment3 box">
                        <img class="col-center-comment2-avatar" src="../images/avatar-mdo.png" alt="avatar-mdo">
                        <div class="col-center-comment2-context">
                            <div>
                                Gordon Ramsay
                                <span class="col-center-comment2-span">2020-12-20 14:05</span>
                            </div>
                            <div class="col-center-comment2-article">
                                <p>Donec ullamcorper nulla non metus拍卖人弗利利亚。猫门前庭。埃尼安·尤利奥·夸姆。从威尼斯人的前庭看，这是一种很好的装饰。软组织门 尤伊斯莫德。酒后驾车。
                                </p>
                                <img width="461" height="450" src="../images/instagram_3.jpg" alt="photo" style="margin-top: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-right-sponsored box ">
                    <div class="col-right-sponsored-title">
                        <b>Sponsored</b>
                    </div>
                    <div class="col-right-sponsored-context">
                        <img src="../images/instagram_2.jpg" width="250" height="225">
                        <p class="col-right-sponsored-context-title"><b>It might be time to visit Iceland.</b></p>
                        <p class="col-right-sponsored-context-context">冰岛很冷，这里的一切看起来都很冷。而且，我们听说那里的人很好。你在等什么？</p>
                        <button>购 票</button>
                    </div>
                </div>
                <div class="col-right-likes box ">
                    <div class="col-right-likes-title">
                        <div class="fa fa-star"></div>
                        <b>Likes</b> · <a href="#">View All</a>
                    </div>
                    <ul>
                        <li class="col-right-likes-li">
                            <img src="../images/avatar-fat.jpg" width="65px" height="65px">
                            <div class="col-right-likes-inter">
                                <p>Jacob Thornton</p>
                                <button>关 注</button>
                            </div>
                        </li>
                        <li class="col-right-likes-li">
                            <img src="../images/avatar-mdo.png" width="65px" height="65px">
                            <div class="col-right-likes-inter">
                                <p>Gordon Ramsay</p>
                                <button>已 关 注</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-right-copyright box ">
                    <div class="col-right-copyright-context">
                        © 2020 Hello World
                        <a href="#">About</a>
                        <a href="#">Help</a>
                        <a href="#">Links</a>
                        <a href="#">Blog</a>
                        <a href="#">Status</a>
                        <a href="#">Vistors</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>